* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(246, 226, 250);
}
nav{
    z-index: 1;
    position: sticky;
    top: 0%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-inline: 10px;
    height: 100px;
    border-bottom: 2px solid rgb(192, 194, 255);
    background-color: rgb(255, 250, 255);
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
#mlogo{
    box-sizing: content-box!important;
    position: relative;
    height: 35px;
    width: 35px;
    border: 5px solid red;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#SN {
    position: relative;
    top: 0.3em;
    font-size: 1.3em;
    font-family: 'Rubik Glitch', system-ui;
}

#Sach_Code_In {
    position: relative;
    inset: 2.0em 0 0 0.2em;
    font-size: 0.5em;
    color: rgb(0, 255, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header_name{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight:1200;
}
/* .navList{
   border: 2px solid red;
} */
#bar{
    display: none;
    /* visibility: hidden; */
}
.menu ul{
    list-style-type: none;
    display: flex;
    gap: 30px;

}
.menu ul li{
    font-family: 'Poppins',sans-serif;
    position: relative;
}
.menu ul li a{
    color: black;
    font-family: 'Alegreya Sans SC', sans-serif; 
    text-decoration: none;
    position: relative;
}
.menu ul li a::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #3498db;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}
.menu ul li a:hover::after{
    transform:scaleX(1);
}
.menuBar{
    display: none;

}


.bottomenu{
    display: none;
 }
 .bottomenu div{
     text-align: center;
    font-size: 1.0em;
    font-family: "poppins",sans-serif;
    height: 60%;
    width: auto;
 }

 .menu_ele {
    position: relative;
    display: block;
    margin: 0;
}

.menu_ele a {
    text-decoration: none;
    color: #333; 
    position: relative;
}

.menuBar ul li a::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #3498db;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}
.menuBar ul li a:hover::after{
    transform:scaleX(1);
}
.content{
    display: flex;
}
.images{
    display:flex;
    position: relative;
    flex-direction: column;
    height:calc(100vh + 190px);
    width: 40vmax;
    font-family: 'Poppins',sans-serif;
    /* justify-content: center; */
    /* gap: 5px; */
    align-items: center;
    background-color: rgb(255, 230, 233);                                 
    /* border: 2px solid red; */
}   
#bgoimg{
    box-sizing: content-box;
    position: sticky;
    top: 68px;
    /* border: 2px solid red; */ 
    height:min(35vmax,50%);                
    width:30vmax;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding-top: 30px;
    align-items: center;
    padding-inline: 4%;
    background-color: rgb(250, 243, 244);
}
#bgoimg img{
    /* width:70% ; */                          
    height: 50%;
    border:2.0vmin solid pink;
    border-radius: 50%;
}
#lines{
    width: 20%;
    border: 0.2em solid black;
    border-radius: 50%;
    margin-block:1em ;
}
#sl{
    margin-top: 7px;
}
.intro{
    padding:2em;
    width: 60%;
    height: auto;               
    display: flex;
    flex-direction: column;
    align-items:center ;
    /* background-color: rgb(250, 215, 241); */
}
.intro p{
font-stretch: extra-condensed;
font-family: 'Genos', monospace;;
}

.links{
/* border: 2px red solid; */
color: ivory;
font-family: 'Genos', Arial, sans-serif;
font-size:1.25em ;
width: 100%;
height: 250px;
display: flex;
margin-block: 2em;
/* flex-direction: column; */
justify-content:space-evenly ;
align-items: center;
/* gap: 4px; */
}
.links div{
display: flex;             
justify-content: center;
align-items: center;
text-decoration:none ;
height:170px;
width:170px ;
border: 1px solid black;
border-radius: 50%;
text-align: center;
flex-wrap: wrap;
cursor: pointer;
}
.links div a{
text-decoration: none;
color:black;
}
.resume{
background-color: orange;
/* margin-right: 50px; */
}
.project{
/* margin-right: 50px; */
background-color: rgb(102, 255, 0);
}
.contact{
background-color: cornflowerblue;
}
.resume:hover{
background-color: rgb(255, 255, 255);
}
.contact:hover{
background-color: rgb(255, 255, 255);
}
.project:hover{
background-color: rgb(255, 255, 255);
}
.Foot{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* margin-top: 20px; */
    padding: 10px;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    background-color: rgb(245, 179, 219);
    font-family:'Genos', sans-serif;
    font-weight: light;

}
.social_accounts div{
    display: flex;
    justify-content:space-around;
}
/* --------------------This is for size less or equal to 900px -------------*/
@media screen and (max-width:900px){
    body{
        background-color:rgb(246, 226, 250);
        margin: 0;
        padding: 0;
    }
    nav{
        z-index: 1;
        position: sticky;
        top: 0%;
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding-inline: 10px;
        height: 60px;
        border-bottom: 2px solid rgb(192, 194, 255);
        background-color: rgb(255, 250, 255);
    }
    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
    }
    #mlogo{
        box-sizing: content-box!important;
        position: relative;
        height: 20px;
        width: 20px;
        border: 3px solid red;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        /* justify-content: ; */
        align-items: center;
    }
    #SN {
        position: relative;
        top: 0.359em;
        font-size: 0.66em;
        font-family: 'Rubik Glitch', system-ui;
    }
    
    #Sach_Code_In {
        position: relative;
        inset: 3.1em 0 0 0.4em;
        font-size: 0.2em;
        color: rgb(0, 255, 0);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .header_name{
        font-size: 2em;
        font-family: 'Poppins', sans-serif;
        font-weight:900;
    }
    /* .navList{
        border: 2px solid red;
    } */
    .menu{
        display: none;
    }
    #bar{
        display: inline-block!important;
        font-size: 2em;
        cursor:pointer;
    }
    .menuBar{
        float:left;
        position: fixed;
        font-size: 1rem;
        background-color: #faf3f4eb;
        display: none;
        z-index: 9;
        width: 100vw;
        height: 100vh;
        animation:comeIn 1s ease-in-out;
    }

    @keyframes comeIn {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }    
    }
   .cross{
        animation: goback 1s ease-in-out;
    }
    @keyframes goback {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }    
    }
    .menuBar ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type:none;
        padding: 20% 3em 0 3em;
    } 
    .menuBar ul li{
        line-height:10vmax;
    }
    
    .menuBar ul li a{
        font-family: 'Alegreya Sans SC', sans-serif; 
        /* width: 100%; */
        text-decoration: none;
        color: black;
    }
    /* .test{
        height: 100vh;
        background-color: aqua;
    } */
    #crossbar{
        
        position: relative;
        font-size: 2em;
        width: fit-content;
        cursor: pointer;
        left: 7%;
        top: 5%;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .images{
        display:flex;
        position: relative;
        flex-direction: column;
        height:calc(100vh - 60px - 50px);
        width: 100vw;
        font-family: 'Poppins',sans-serif;
        /* justify-content: center; */
        /* gap: 5px; */
        align-items: center;
        background-color: rgb(255, 230, 233);
        /* border: 2px solid red; */
    }
    #bgoimg{
        box-sizing: content-box;
        position: sticky;
        top: 20px;
        /* border: 2px solid red; */
        height: 70%;
        width:75%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* justify-content: center; */
        padding-top: 30px;
        align-items: center;
        padding-inline: 4%;
        background-color: rgb(250, 243, 244);
    }
    #bgoimg img{
        /* width:70% ; */
        height: 45%;
        border:2.5vmin solid pink;
        border-radius: 50%;
    }
    #lines{
        width: 20%;
        border: 0.2em solid black;
        border-radius: 50%;
        margin-block:2em ;
    }
    #sl{
        margin-top: 25px;
    }
    .intro{
        padding: 0%;
        display: flex;
        flex-direction: column;
        /* background-color: rgb(250, 215, 241); */
    }
    .intro p{
        font-stretch: extra-condensed;
        font-family: 'Genos', monospace;;
    }
    #aboutme{
        padding-top:20px;
    }
.links{
    /* border: 2px red solid; */
    color: ivory;
    font-family: 'Genos', Arial, sans-serif;
    font-size:1.25em ;
    width: 100vw;
    height: 20vh;
    display: flex;
    margin-block: 0em;
    /* flex-direction: column; */
    justify-content:space-evenly ;
    align-items: center;
    /* gap: 4px; */
}
.links div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none ;
    height:20vw;
    width:20vw ;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    flex-wrap: wrap;
}
.links div a{
    text-decoration: none;
    color:black;
    
}
#resume{
    background-color: orange;
    /* margin-right: 50px; */
}
#project{
    /* margin-right: 50px; */
    background-color: rgb(102, 255, 0);
}
#contact{
    background-color: cornflowerblue;
}
#resume a:hover,#resume:hover{
    background-color: rgb(255, 255, 255);
}
#contact:hover{
    background-color: rgb(255, 255, 255);
}
#project:hover{
    background-color: rgb(255, 255, 255);
}
.Foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 10px;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    background-color: rgb(245, 179, 219);
    font-family:'Genos', sans-serif;
    font-weight: light;
}
.social_accounts div{
    display: flex;
    justify-content:space-around;
}
.bottomenu{
    position: fixed;
    top: calc(100vh - 50px);
    z-index: 0.5;
    background-color:#fffaff;
    border:2px solid cornflowerblue;
    width: calc(100%);
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .bottomenu div{
    text-align: center;
   font-size: 0.6em;
   font-family: "poppins",sans-serif;
   
   height: 60%;
   width: auto;
}

.menu_ele {
   position: relative;
   display: block;
   margin: 0;
}

.menu_ele a {
   text-decoration: none;
   color: #333; 
   font-family: 'Alegreya Sans SC', sans-serif; 
   position: relative;
}

.menu_ele a::after {
   content: "";
   display: block;
   position: absolute;
   left:10px;
   bottom: -5px;
   width: 100%;
   height: 2px; 
   background-color: #3498db;
   transform: scaleX(0);
   transform-origin: bottom right;
   transition: transform 0.3s ease; 
}

.menu_ele a:hover::after{
   transform: scaleX(250%);
   
}
}
@media screen and (max-height:800px){
    .links{
        
        color: ivory;
        font-family: 'Genos', Arial, sans-serif;
        font-size:1.25em ;
        width: 60vw;
        height: 20vw;
        display: flex;
        margin-block: 0em;
       
        justify-content:space-evenly ;
        align-items: center;

    }
    .links div{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration:none ;
        height:50%;
        width:20% ;
        border: 1px solid black;
        border-radius: 50%;
        text-align: center;
        flex-wrap: wrap;
    }
    .links div a{
        text-decoration: none;
        color:black;
    }
    #resume{
        background-color: orange;
    }
    #project{
        background-color: rgb(102, 255, 0);
    }
    #contact{
        background-color: cornflowerblue;
    }
    #resume a:hover,#resume:hover{
        background-color: rgb(255, 255, 255);
    }
    #contact:hover{
        background-color: rgb(255, 255, 255);
    }
    #project:hover{
        background-color: rgb(255, 255, 255);
    }
}